.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color:#e0e0e0;
  border-radius: 10px;
}

.loading-text {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  border: 1px solid #28a745;
}

.image-preview {
  margin-top: 10px;
}

.image-preview img {
  max-width: 100%;
  max-height: 200px;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}
.body{
    background-color: yellowgreen;
}