/* .spinner{
    margin: auto;
}

h4{
    margin-top: 20px;
} */
.text-center.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  border: 0.25rem solid #f8b500;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 1s linear infinite;
}

@keyframes spinner-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h4 {
  color: #333;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}
